<div class="w-full h-full flex items-center justify-center">
  <div class="flex flex-col min-w-[500px] gap-2 bg-neutral-300 p-2">
    <label class="flex flex-col">
      First name
      <input [value]="firstName()" class="p-2 bg-white rounded" (change)="handleInput($event, 1)" type="text"
        placeholder="first name" />
    </label>

    <label class="flex flex-col">
      Last name
      <input [value]="lastName()" class="p-2 bg-white rounded" (change)="handleInput($event, 2)" type="text"
        placeholder="last name" />
    </label>

    <label class="flex flex-col">
      Email name
      <input [value]="email()" class="p-2 bg-white rounded" (change)="handleInput($event, 3)" type="text"
        placeholder="email" />
    </label>

    <label class="flex flex-col">
      Password
      <input [value]="password()" class="p-2 bg-white rounded" (change)="handleInput($event, 4)" type="password"
        placeholder="password" />
    </label>

    <button type="button" (click)="register()">Register</button>
    <button type="button" (click)="handleGoLogin()">Already have account</button>
  </div>
</div>