<div class="w-full h-full flex justify-center items-center">
  <form [formGroup]="userForm" (ngSubmit)="register()" class="flex flex-col gap-2 w-[500px] bg-neutral-100 p-4">
    <span>Hello!</span>
    @for(field of fields; track field.name) {
    <label class="flex flex-col gap-1">
      {{field.label}}
      <input [type]="field.type" [placeholder]="field.placeholder" [formControlName]="field.name"
        class="p-2 bg-white rounded" />
    </label>
    }

    <button class="bg-blue-500 p-2 text-white rounded hover:bg-blue-600 disabled:bg-blue-300" type="submit"
      [disabled]="userForm.invalid">
      register
    </button>

    <button type="button" (click)="handleGoLogin()">
      Already have an account
    </button>

  </form>
</div>